{{ extends "global/Page.html" }}
{{ block title }}Round {{player.round_number}} results{{ endblock }}
{{ block content }}
<head>
<style>
    html, body {
      height: 100%;
      margin: 0;
      display: flex;
    }

    .split {
      flex: 1;
      overflow-y: auto;
      height: 100vh;
      padding: 20px;
      box-sizing: border-box;
    }

    .left {
      background-color: #f8f9fa;
      border-right: 1px solid #ccc;
    }

    .right {
      background-color: #e9ecef;
    }
</style>
</head>
<body>  
    <div class="split left">
    <h2>Results</h2>
    <p>
        You placed {{ pcont }} tokens in the group account, therefore your private account balance is {{ priv }} tokens.
        Your group members allocated the following to the group account:<br>
        {{ one }}: {{ one_cont }} tokens<br>
        {{ two }}: {{ two_cont }} tokens<br>
        {{ three }}: {{ three_cont }} tokens<br>
        Your group's total account balance is {{ gcont }} tokens.
        Your profit is therefore {{ pay }} ECUs.
    </p>
    <p style="margin-bottom: 2000px;"></p>
    {{ next_button }}
    </div>
    
    <div class="split right">
    <h2>Chat</h2>
    <p>Use this page to chat with members of your group. Remember to hit the send button when sending a chat.</p>
    {{ chat nickname=player.participant.label}}
    <table border="1">
    <tr>
        <th>Round</th>
        {% for label in player_labels %}
            <th>Player {{ label }}</th>
        {% endfor %}
        <th>Your Payoff</th>
    </tr>

    {% for row in table_data %}
    <tr>
        <td>{{ row.round }}</td>
        {% for c in row.contributions %}
            <td>{{ c }}</td>
        {% endfor %}
        <td>{{ row.your_payoff }}</td>
    </tr>
    {% endfor %}
    </table>
    <p style="margin-bottom: 2000px;"></p>    
    </div>
    
</body>
    
    
{{ endblock }}
